.wrapper {
  @apply relative overflow-hidden h-auto lg:h-screen
    before:absolute before:top-0 before:start-1/2
    before:-z-[1] before:transform before:-translate-x-1/2
    before:bg-no-repeat before:bg-top
    before:w-full before:h-full before:bg-[length:1300px] lg:before:bg-[length:100dvw]
    before:bg-[url('https://preline.co/assets/svg/examples/polygon-bg-element.svg')]

    dark:bg-[center_top_-2rem] dark:bg-[length:1300px] lg:dark:bg-[length:100dvw] dark:bg-no-repeat
    dark:bg-[url('https://preline.co/assets/svg/examples/polygon-bg-element-dark.svg')];
}

.pro-release-wrapper {
  @apply inline-flex items-center gap-x-2 bg-white border border-gray-200 text-sm 
  text-gray-800 p-1 ps-3 rounded-full transition hover:border-gray-300 
  dark:bg-gray-800 dark:border-gray-700 dark:hover:border-gray-600 dark:text-gray-200 
  dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600;
}

.get-started-btn {
  @apply inline-flex justify-center items-center gap-x-3 text-center
  hover:from-violet-600 hover:to-blue-600 
  border border-transparent text-white text-sm font-medium rounded-md 
  focus:outline-none focus:ring-1 focus:ring-gray-600 py-3 px-4 dark:focus:ring-offset-gray-800;
}

.yarn-add-wrapper {
  @apply relative p-2 ps-3 inline-flex justify-between items-center gap-x-2 text-sm font-mono 
  rounded-lg border border-gray-200 bg-white 
  text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none 
  dark:bg-slate-900 dark:border-gray-700 dark:text-white dark:hover:bg-gray-800 
  dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600;
}
