/* root and major containers */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html:focus-within {
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeSpeed;
  background-color: #fff;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #020303;
  }
}

/* media */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* some elements does not inherit font by default */
input,
button,
textarea,
select {
  font: inherit;
}

/* typography */
h1,
h2,
h3,
h4,
h5,
h6,
p,
img,
button,
li,
a,
ul {
  overflow-wrap: break-word;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

/* button */
button:hover {
  cursor: pointer;
}

/* only list item with role */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* anchor tag, with no class */
a:not([class]) {
  color: inherit;
  text-decoration-skip-ink: auto;
}

/* reduce motion
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
} */

/* utils */
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}
.no-scrollbar {
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}
.no-scrollbar::-webkit-scrollbar { /* WebKit */
  width: 0;
  height: 0;
}
